@import 'src/style/responsive';

.app {
  background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
  box-shadow: 0px -0.11px 16.9495px rgba(183, 187, 225, 0.33);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__button {
    width: 198px;
  }
  &__input {
    margin: 8px 0;
  }
  &__buttons-wrapper {
    display: flex;
    margin-left: 32px;
    width: 146px;
    justify-content: space-between;

    @include mobile {
      margin-left: 0;
      margin-top: 24px;
    }
  }
  &__select-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__content {
    margin-top: 24px;
  }
  &__add-button {
    @include mobile {
      margin-top: auto;
      margin-bottom: 0;
    }
  }
}